.display-all {
	column-count: 3;
	column-gap: 1rem;
}
.display-link {
	height: 325px;
	width: 100%;
	border: gray solid 1px;
	margin: 0.5rem;
	display: inline-block
}
.display-name {
	font-size: 1.8rem;
	text-align: center;
}
.display-controls {
	margin: 2rem 0;
}
.display-controls .btn {
	margin: 0 1rem;
}

